// CUSTOM COLORS
$custom-primary:       #ff5851;
$custom-secondary:     #414a6b;
$custom-success:       #25A098;
$custom-info:          #00FFFF;
$custom-warning:       #f3c130;
$custom-danger:        #BC2C2B;
$custom-light:         #F2F2F2;
$custom-dark:          #1c1b20;
$custom-dark-50:       rgba(28, 27, 32, .8);

// CUSTOM FONT
$font-face1:      upgrade, sans-serif;
$font-face2:      upgrade-lights, sans-serif;

// FONT WEIGHT
$light:           400;
$book:            500;
$medium:          400;
$bold:            600;
$black:           700;