@import './variables';

.navbar {
  background: $custom-dark-50;
  max-width: 100vw;
  overflow-x: hidden;

  .navbar-brand {
    width: 100px;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
  }

  button {
    border: none;
    padding: 0;
  }

  a {
    font-family: $font-face1;
    font-weight: $medium;
    font-size: 1.3rem;
    padding: .3rem;
  }
}